  <div class="full-size">
    <div class="full-size region-page">
      <div class="flex-column full-size vertical-layout">

          <div class="project-header flex-row flex-noshrink">
            <div class="flex-row flex-grow region-header">
              <a class="commandbar-item suite-logo flex-row flex-noshrink flex-center bolt-link">
                <span aria-hidden="true" class="suite-image commandbar-icon justify-center flex-noshrink fabric-icon">
                </span>
                <span class="brand body-m font-weight-heavy">OnBuff DevLap</span>
              </a>

              <div class="flex-row flex-grow scroll-hidden bolt-breadcrumb-with-items">

                <div class="bolt-breadcrumb-container bolt-breadcrumb-with-items header-breadcrumb flex-grow">
                  <div class="bolt-breadcrumb flex-row flex-grow bolt-breadcrumb-with-items" aria-label="Breadcrumb Item">
                    <div class="bolt-breadcrumb-overflow">
                      <div></div>
                    </div>
                    <div class="bolt-breadcrumb-list-item">
                      <div class="bolt-breadcrumb-item">
                        <a aria-describedby="__bolt-bolt-breadcrumb10-item-described-byCollection" class="bolt-link" data-focuszone="focuszone-391" tabindex="-1">
                          <div class="bolt-breadcrumb-item-text-container">
                            <span class="bolt-breadcrumb-item-text text-ellipsis">onbuff</span>
                          </div>
                          <div class="bolt-breadcrumb-hidden-element" id="__bolt-bolt-breadcrumb10-item-described-byCollection"></div>
                        </a>
                      </div>
                      <div class="bolt-breadcrumb-divider secondary-text cursor-default flex-noshrink">/</div>
                    </div>
                    
                    <div class="bolt-breadcrumb-list-item">
                      <div class="bolt-breadcrumb-item">
                        <a aria-describedby="__bolt-bolt-breadcrumb10-item-described-byCollection" class="bolt-link" data-focuszone="focuszone-391" tabindex="-1">
                          <div class="bolt-breadcrumb-item-text-container">
                            <span class="bolt-breadcrumb-item-text text-ellipsis">ipblock-nft</span>
                          </div>
                          <div class="bolt-breadcrumb-hidden-element" id="__bolt-bolt-breadcrumb10-item-described-byCollection"></div>
                        </a>
                      </div>
                      <div class="bolt-breadcrumb-divider secondary-text cursor-default flex-noshrink">/</div>
                    </div>

                    <div class="bolt-breadcrumb-list-item">
                      <div class="bolt-breadcrumb-item">
                        <a aria-describedby="__bolt-bolt-breadcrumb10-item-described-byCollection" class="bolt-link" data-focuszone="focuszone-391" tabindex="-1">
                          <div class="bolt-breadcrumb-item-text-container">
                            <span class="bolt-breadcrumb-item-text text-ellipsis">tutorials</span>
                          </div>
                          <div class="bolt-breadcrumb-hidden-element" id="__bolt-bolt-breadcrumb10-item-described-byCollection"></div>
                        </a>
                      </div>
                      <div class="bolt-breadcrumb-divider bolt-breadcrumb-hidden-element secondary-text cursor-default flex-noshrink">/</div>
                    </div>

                  </div>
                </div>
                    
              </div>

            </div>
          </div>

          <div class="flex-row flex-grow scroll-hidden">
            <div class="navigation-container flex-column">
              <div class="project-navigation region-navigation flex-column flex-grow expanded">

                <!-- side 1st  -->
                <div class="collapsible-section flex-noshrink">
                  <div class="project-item flex-row flex-grow flex-center scroll-hidden">
                    <span class="navigation-icon flex-row flex-center flex-noshrink justify-center">
                      <div class="vss-Persona flex-noshrink project-persona flex-noshrink small" aria-label="ipblock">
                        <img class="vss-Persona-content using-image" 
                          src="https://dev.azure.com/onbuff/_apis/GraphProfile/MemberAvatars/19f4cc99-78ce-44ed-b974-9975f530b8f5?overrideDisplayName=ipblock&amp;size=2" alt="">
                      </div>
                    </span>
                    <span class="font-weight-heavy expanded-only flex-grow text-ellipsis">ipblock-NFT</span>
                  </div>
                </div>
                  <!-- line -->
                  <div class="separator flex-row flex-noshrink"></div>


                <div class="navigation-section flex-column flex-grow scroll-hidden v-scroll-auto custom-scrollbar">
                  <!-- 1st menu -->
                  <div class="hub-group-container flex-column flex-noshrink relative expanded-container displayed-container">
                    <div class="flex-row flex-noshrink bolt-expandable-container flex-row flex-center">
                      <a aria-label="Overview" asp-controller="Tutorials" asp-action="Index"
                        class="hub-group navigation-element navigation-link focus-treatment flex-row flex-grow flex-center scroll-hidden relative bolt-link" tabindex="-1">
                        <span class="navigation-icon flex-row flex-center flex-noshrink justify-center">
                          <img alt="" class="contributed-icon contributed-icon-image bolt-image flex-noshrink" 
                            src="https://cdn.vsassets.io/ext/ms.vss-build-web/common-library/Nav-Launch.3tiJhd8JGiL0mrog.png">
                        </span>
                        <span class="navigation-text expanded-only text-ellipsis flex-grow">Tutorials</span>
                      </a>
                    </div>
                  </div>

                  <!-- 2nd menu -->
                  <div class="hub-group-container flex-column flex-noshrink relative hub-group-only">
                    <div class="flex-row flex-noshrink bolt-expandable-container flex-row flex-center">
                      <a aria-label="Overview" asp-controller="Swagger" asp-action="Index"
                        class="hub-group navigation-element navigation-link focus-treatment flex-row flex-grow flex-center scroll-hidden relative bolt-link" tabindex="-1">
                        <span class="navigation-icon flex-row flex-center flex-noshrink justify-center">
                          <img alt="" class="contributed-icon contributed-icon-image bolt-image flex-noshrink" 
                            src="https://ms.gallerycdn.vsassets.io/extensions/ms/feed/18.186.0.1300478237/1621378091411/common/content/Nav-Feed.png">
                        </span>
                        <span class="navigation-text expanded-only text-ellipsis flex-grow">Swagger</span>
                      </a>
                    </div>
                  </div>

                </div>

                <!-- line --> 
                <div class="separator flex-row flex-noshrink"></div>

                <!-- bottom menu -->
                <div class="collapsible-section flex-noshrink">                
                  <div class="hub flex-row flex-grow flex-center scroll-hidden relative">
                    <span aria-labelledby="__bolt-project-settings-text" role="img">
                      <span class="navigation-icon flex-row flex-center justify-center flex-noshrink"></span>
                    </span>
                    <span class="navigation-text expanded-only text-ellipsis" id="__bolt-project-settings-text"></span>
                  </div>
                  
                  <div onclick="menuChange();" class="hub stand-alone focus-treatment alt-hover-effect flex-row" data-focuszone="focuszone-16" id="project-expansion-toggle" role="button" tabindex="-1">
                    <span id="navigation-arrows" class="navigation-icon flex-row flex-center flex-noshrink justify-center cursor-pointer flex-noshrink">
                      <div> << </div>
                    </span>
                  </div>
                </div>

              </div>
            </div>

            <!-- right -->
            <div class="flex-column flex-grow scroll-hidden">

              <!-- contents -->
                <div class="v-scroll-auto flex flex-grow relative region-content">
                    <div class="main">
                        <!-- main > head -->
                        <div class="head">                            
                            <div class="cd-title-bar-breadcrumb-container dtc-bread-crumb-component">
                                <ol class="list-42">
                                    <li class="listItem-43">
                                        <a class="itemLink-50" tabindex="0">
                                            <div>Tutorials</div>
                                        </a>
                                        <i> > </i>
                                    </li>
                                    <li class="listItem-43">
                                        <span class="item-48">
                                            <div>
                                                Add
                                            </div>
                                        </span>
                                    </li>
                                </ol>                        
                            </div>                            
                        </div>
                        <!-- //main > head -->

                        <!-- main > body -->
                        <div class="body">
                            <div class="dtc-workflow-pivot pivot-fabric-style-overrides">
                                <div>
                                    <!--sub menu-->
                                    <ul class="root-40 root_4edb0ad9" role="tablist">
                                        <button type="button" onclick="location.href='@Url.Action("Index", "Tutorials")'" class="link_4edb0ad9 linkIsSelected_4edb0ad9" tabindex="0">
                                        <div><span>Add</span></div>
                                        <button type="button" onclick="location.href='@Url.Action("List", "Tutorials")'" class="link_4edb0ad9" tabindex="0">
                                        <div><span>List</span></div>
                                    </ul>
                                    <!--//sub menu-->
                                    <div class="dtc-pivot-item">
                                        <div class="cd-canvas-tab-content">
                                            <div class="overlay-left-section">                                                
                                                <div class="cd-canvas-container">
                                                    <!-- 1st item -->
                                                    <div class="cd-artifact-canvas cd-artifacts-canvas-container">
                                                        <div class="cd-artifacts-canvas-title">NFT Media</div>
                                                            <div class="add-button-container">
                                                                <div class="add-button-separator"></div>
                                                                <div class="add-artifact-button-container">
                                                                    <button type="button" onclick="show('root-78');" class="add-artifact-button fabric-style-overrides root-68 cursor-pointer">
                                                                        <div class="flexContainer-54">
                                                                            <i data-icon-name="Add" role="presentation" aria-hidden="true" class="icon-61">+</i>
                                                                            <div class="textContainer-55">
                                                                                <div>Add</div>
                                                                            </div>
                                                                            <span class="screenReaderText-60">Select Type NFT</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="cd-artifact-nodes-container" style="min-width: 146px; margin-left: 6px;">
                                                                <div onclick="show('root-78');" onmouseover="onmouseOver('create-nft');" onmouseout="onmouseOut('create-nft');" class="add-artifact-circle-button-container">
                                                                    <div class="add-artifact-circle-button cursor-pointer create-nft" tabindex="0" style="height: 90px; width: 140px; margin-top: 10px;">
                                                                        <div id="select-icon" class="add-artifact-icon">
                                                                            <span class="bowtie-icon bowtie-math-plus-light"></span>
                                                                        </div>
                                                                        <div id="select-icon-text">Select Type NFT</div>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                        <!-- //1st item -->   
                                                                                                                    
                                                        <!-- line -->
                                                        <div class="cd-canvas-sections-separator">
                                                            <svg class="cd-svg-separator-surface" width="20px" focusable="false">
                                                                <path class="dtc-canvas-path" d=" M0,153 L20,153"></path>
                                                            </svg>
                                                        </div>
                                                        <!-- //line -->     


                                                    <!-- 2nd item -->
                                                    <div class="cd-artifact-canvas cd-artifacts-canvas-container">
                                                        <div class="cd-artifacts-canvas-title">IMG</div>
                                                            <div class="add-button-container">
                                                                <div class="add-button-separator"></div>
                                                                <div class="add-artifact-button-container">
                                                                    <button type="button" onclick="show('root-79');" class="add-artifact-button fabric-style-overrides root-68 cursor-pointer">
                                                                        <div class="flexContainer-54">
                                                                            <i data-icon-name="Add" role="presentation" aria-hidden="true" class="icon-61">+</i>
                                                                            <div class="textContainer-55">
                                                                                <div>Add</div>
                                                                            </div>
                                                                            <span class="screenReaderText-60">Add an IMG</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="cd-artifact-nodes-container" style="min-width: 146px; margin-left: 6px;">
                                                                <div onclick="show('root-79');" onmouseover="onmouseOver('img-list');" onmouseout="onmouseOut('img-list');" class="add-artifact-circle-button-container">
                                                                    <div class="add-artifact-circle-button cursor-pointer img-list" tabindex="0" style="height: 90px; width: 140px; margin-top: 10px;">
                                                                        <div class="add-artifact-icon">
                                                                            <span class="bowtie-icon bowtie-math-plus-light"></span>
                                                                        </div>
                                                                        <div>Add an IMG</div>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                        <!-- //2nd item -->   

                                                    </div>                                
                                                </div>            
                                            </div>                                    
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <!-- //main > body -->


                    </div>  
                </div>
              <!-- //contents -->
              
            </div>
            <!-- //right -->
          </div>

      </div>
    </div>
  </div>


<!-- layer 1 -->
<div class="ms-Layer ms-Layer--fixed root-78">
  <div class="ms-Fabric ms-Layer-content content-80">
    <div style="overflow-y: auto;">
      <div class="ms-Panel root_d549a1c3 dtc-panel-component is-open rootIsOpen_d549a1c3 ms-Panel--custom rootIsCustom_d549a1c3 ms-Panel--hasCloseButton rootHasCloseButton_d549a1c3">
        <div class="ms-Overlay overlay_d549a1c3 root-71"></div>
        <div class="ms-Panel-main main_d549a1c3" style="width: 672px;">
          <div class="ms-Panel-commands">
            <div class="navigation">
              <button type="button" class="button closeButton" onclick="hide('root-78');">
                  <div class="flexContainer">
                      <i>x</i>
                  </div>
              </button>
            </div>
          </div>

          <div class="inner">
            <div class="content font">
                <div class="add-selection">
                    <div class="content-title">
                        <label class="title-label">NFT</label>
                    </div>
                    <div class="artifact-selection-tab-content">
                        <div class="artifact-source-type">
                            <div class="input-field-component" id="INPUT-FIELD-RADIO0">
                                <div>
                                    <label class="ms-Label input-field-label root-108" for="INPUT-FIELD-RADIO0">type</label>
                                </div>
                                <div class="show-options-horizontally fabric-style-overrides">
                                    <div class="input-control-radio-button">
                                        <div class="ms-ChoiceFieldGroup">
                                            <div class="ms-ChoiceFieldGroup-flexContainer">
                                                <!-- menu #.1 -->
                                                <div class="ms-ChoiceField choiceField_5650e391">                                                        
                                                    <div class="ms-ChoiceField-wrapper choiceFieldWrapper_img">
                                                        <input id="ChoiceGroup323-img" class="ms-ChoiceField-input input_5650e391" type="radio" checked="">
                                                        <label id="choice-label-img" for="ChoiceGroup323-img" class="artifact-type-ChoiceField-field is-checked" onclick="iconSelect('img');">
                                                            <div class="artifact-type-ChoiceField-innerField">
                                                                <div class="artifact-type-ChoiceField-iconWrapper">                                                                    
                                                                    <i role="presentation" aria-hidden="true" class="bowtie-icon bowtie-img artifact-type-icon root-109"></i>
                                                                </div>
                                                            </div>
                                                            <div class="artifact-type-ChoiceField-labelWrapper">
                                                                <div class="dtc-text-tooltip-on-overflow-host">
                                                                    <div class="artifact-type-label" id="ChoiceGroupLabel324-img" aria-describedby="vss_64">
                                                                        <div class="bowtie-icon bowtie-check"></div>IMG
                                                                        <div id="vss_63" class="rich-content-tooltip auto-width popup-content-control v2" style="position: fixed;">
                                                                            <div class="popup-tag"></div>
                                                                            <div class="popup-content-container" role="tooltip" id="vss_64" aria-hidden="true">IMG</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>                                                        
                                                </div>
                                                <!-- //menu -->
                                                <!-- menu #.2 -->
                                                <div class="ms-ChoiceField choiceField_5650e391">                                                        
                                                    <div class="ms-ChoiceField-wrapper choiceFieldWrapper_gif">
                                                        <input id="ChoiceGroup323-gif" class="ms-ChoiceField-input input_5650e391" type="radio" checked="">
                                                        <label for="ChoiceGroup323-gif" class="artifact-type-ChoiceField-field" onclick="iconSelect('gif');">
                                                            <div class="artifact-type-ChoiceField-innerField">
                                                                <div class="artifact-type-ChoiceField-iconWrapper">
                                                                    <i role="presentation" aria-hidden="true" class="bowtie-icon bowtie-gif artifact-type-icon root-109"></i>
                                                                </div>
                                                            </div>
                                                            <div class="artifact-type-ChoiceField-labelWrapper">
                                                                <div class="dtc-text-tooltip-on-overflow-host">
                                                                    <div class="artifact-type-label" id="ChoiceGroupLabel324-gif" aria-describedby="vss_64">
                                                                        <div class="bowtie-icon"></div>GIF
                                                                        <div id="vss_63" class="rich-content-tooltip auto-width popup-content-control v2" style="position: fixed;">
                                                                            <div class="popup-tag"></div>
                                                                            <div class="popup-content-container" role="tooltip" id="vss_64" aria-hidden="true">GIF</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>                                                        
                                                </div>
                                                <!-- //menu -->

                                                <!-- menu #.2 -->
                                                <div class="ms-ChoiceField choiceField_5650e391">                                                        
                                                  <div class="ms-ChoiceField-wrapper choiceFieldWrapper_movie">
                                                      <input id="ChoiceGroup323-movie" class="ms-ChoiceField-input input_5650e391" type="radio" checked="">
                                                      <label for="ChoiceGroup323-movie" class="artifact-type-ChoiceField-field" onclick="iconSelect('movie');">
                                                          <div class="artifact-type-ChoiceField-innerField">
                                                              <div class="artifact-type-ChoiceField-iconWrapper">
                                                                  <i role="presentation" aria-hidden="true" class="bowtie-icon bowtie-movie artifact-type-icon root-109"></i>
                                                              </div>
                                                          </div>
                                                          <div class="artifact-type-ChoiceField-labelWrapper">
                                                              <div class="dtc-text-tooltip-on-overflow-host">
                                                                  <div class="artifact-type-label" id="ChoiceGroupLabel324-movie" aria-describedby="vss_64">
                                                                      <div class="bowtie-icon"></div>MOVIE
                                                                      <div id="vss_63" class="rich-content-tooltip auto-width popup-content-control v2" style="position: fixed;">
                                                                          <div class="popup-tag"></div>
                                                                          <div class="popup-content-container" role="tooltip" id="vss_64" aria-hidden="true">MOVIE</div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </label>
                                                  </div>                                                        
                                              </div>
                                              <!-- //menu -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="checkedNFT();" class="confirm-artifact-button root-113">
                            <div class="fflexContainer-54">
                                <div class="textContainer-55">
                                    <div class="label-69" id="id__672">Add</div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>   
          </div> 
        </div>
      </div>  
    </div>
  </div>
</div>
<!-- //layer -->

<!-- layer 2 -->
<div class="ms-Layer ms-Layer--fixed root-79">
  <div class="ms-Fabric ms-Layer-content content-80">
    <div style="overflow-y: auto;">
      <div class="ms-Panel root_d549a1c3 dtc-panel-component is-open rootIsOpen_d549a1c3 ms-Panel--custom rootIsCustom_d549a1c3 ms-Panel--hasCloseButton rootHasCloseButton_d549a1c3">
        <div class="ms-Overlay overlay_d549a1c3 root-71"></div>
        <div class="ms-Panel-main main_d549a1c3" style="width: 672px;">
          <div class="ms-Panel-commands">
            <div class="navigation">
              <button type="button" class="button closeButton" onclick="hide('root-79');">
                  <div class="flexContainer">
                      <i>x</i>
                  </div>
              </button>
            </div>
          </div>

          <div class="inner">
            <div class="content font">
                <div class="add-selection">
                    <div class="content-title">
                        <label class="title-label">IMG</label>
                    </div>
                    <div class="artifact-selection-tab-content">
                        <div class="artifact-source-type">
                            <div class="input-field-component" id="INPUT-FIELD-RADIO0">
                                <div>
                                    <label class="ms-Label input-field-label root-108" for="INPUT-FIELD-RADIO0">list</label>
                                </div>
                                <div class="show-options-horizontally fabric-style-overrides">
                                    <div class="input-control-radio-button">
                                        <div class="ms-ChoiceFieldGroup">
                                            <div id="slider-div" class="ms-ChoiceFieldGroup-flexContainer slider">
                                              <div onclick="selectImg('img_1');"><img id="img_1" class="img-type-ChoiceField-field img_1 is-checked" src="https://onbuff.com/pjtCom/images/hard_img_1.png" alt=""></div>
                                              <div onclick="selectImg('img_2');"><img id="img_2" class="img-type-ChoiceField-field img_2" src="https://onbuff.com/pjtCom/images/hard_img_2.png" alt=""></div>
                                              <div onclick="selectImg('img_3');"><img id="img_3" class="img-type-ChoiceField-field img_3" src="https://onbuff.com/pjtCom/images/hard_img_3.png" alt=""></div>
                                              <div onclick="selectImg('img_4');"><img id="img_4" class="img-type-ChoiceField-field img_4" src="https://onbuff.com/pjtCom/images/hard_img_4.png" alt=""></div>
                                              <div onclick="selectImg('img_5');"><img id="img_5" class="img-type-ChoiceField-field img_5" src="https://onbuff.com/pjtCom/images/hard_img_5.png" alt=""></div>
                                              <div onclick="selectImg('img_6');"><img id="img_6" class="img-type-ChoiceField-field img_6" src="https://onbuff.com/pjtCom/images/hard_img_6.png" alt=""></div>
                                              <div onclick="selectImg('img_7');"><img id="img_7" class="img-type-ChoiceField-field img_7" src="https://onbuff.com/pjtCom/images/hard_img_7.png" alt=""></div>
                                              <div onclick="selectImg('img_8');"><img id="img_8" class="img-type-ChoiceField-field img_8" src="https://onbuff.com/pjtCom/images/hard_img_8.png" alt=""></div>
                                              <div onclick="selectImg('img_9');"><img id="img_9" class="img-type-ChoiceField-field img_9" src="https://onbuff.com/pjtCom/images/hard_img_9.png" alt=""></div>
                                              <div onclick="selectImg('img_10');"><img id="img_10" class="img-type-ChoiceField-field img_10" src="https://onbuff.com/pjtCom/images/hard_img_10.png" alt=""></div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="artifact-inputs">
                          <div class="input-field-component">
                            <div>
                              <label required="" class="ms-Label input-field-label root-111">Title</label>
                            </div>
                            <div class="combo-box-container-parent invalid-css">
                              <div class="combo input-text-box combo-box-container list drop invalid-css">
                                  <div class="wrap">
                                    <input id="nft-Title"  type="text" autocomplete="off" aria-label="Source (build pipeline)" aria-required="true" class="combo-box-input" title="" required="" aria-expanded="false" role="combobox" aria-autocomplete="none" aria-invalid="true" aria-describedby="420">
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="input-field-component">
                            <div>
                              <label required="" class="ms-Label input-field-label root-111">Description</label>
                            </div>
                            <div class="combo-box-container-parent invalid-css">
                              <div class="combo input-text-box combo-box-container list drop invalid-css">
                                  <div class="wrap">
                                    <input id="nft-Description" type="text" autocomplete="off" aria-label="Source (build pipeline)" aria-required="true" class="combo-box-input" title="" required="" aria-expanded="false" role="combobox" aria-autocomplete="none" aria-invalid="true" aria-describedby="420">
                                  </div>
                              </div>
                            </div>
                          </div>


                        </div>
                        <button type="button" onclick="setNFT();" class="confirm-artifact-button root-113" aria-label="Add an artifact" data-is-focusable="false">
                            <div class="fflexContainer-54">
                                <div class="textContainer-55">
                                    <div class="label-69" id="id__672">Add</div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>   
          </div> 
        </div>
      </div>  
    </div>
  </div>
</div>
<!-- //layer -->

<!-- background -->
<div class="dialog-background" style="display: none; z-index: -1;"></div>
<!-- //background -->

<!-- alert -->
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front no-close ui-dialog-buttons ui-draggable ui-resizable bowtie-style" style="display: none; z-index: -1;">
  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle bowtie">
    <span id="ui-id-1" class="ui-dialog-title title-dialog">Currently it is not possible to create an NFT of that type</span>
  </div>
  <div id="vss_51" class="dialog modal-dialog message-dialog ajax-panel ui-dialog-content ui-widget-content">
    please wait for the next update.
  </div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix bowtie">
    <div id="popup-button-ok" class="ui-dialog-buttonset">
      <button type="button" onclick="closePopup();" class="cta ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
        <span class="ui-button-text">OK</span>
      </button>
    </div>
  </div>
</div>
<!-- //alert -->




