  <div class="full-size">
    <div class="full-size region-page">
      <div class="flex-column full-size vertical-layout">

          <div class="project-header flex-row flex-noshrink">
            <div class="flex-row flex-grow region-header">
              <a class="commandbar-item suite-logo flex-row flex-noshrink flex-center bolt-link">
                <span aria-hidden="true" class="suite-image commandbar-icon justify-center flex-noshrink fabric-icon">
                </span>
                <span class="brand body-m font-weight-heavy">OnBuff DevLap</span>
              </a>

              <div class="flex-row flex-grow scroll-hidden bolt-breadcrumb-with-items">

                <div class="bolt-breadcrumb-container bolt-breadcrumb-with-items header-breadcrumb flex-grow">
                  <div class="bolt-breadcrumb flex-row flex-grow bolt-breadcrumb-with-items" aria-label="Breadcrumb Item">
                    <div class="bolt-breadcrumb-overflow">
                      <div></div>
                    </div>
                    <div class="bolt-breadcrumb-list-item">
                      <div class="bolt-breadcrumb-item">
                        <a aria-describedby="__bolt-bolt-breadcrumb10-item-described-byCollection" class="bolt-link" data-focuszone="focuszone-391" tabindex="-1">
                          <div class="bolt-breadcrumb-item-text-container">
                            <span class="bolt-breadcrumb-item-text text-ellipsis">onbuff</span>
                          </div>
                          <div class="bolt-breadcrumb-hidden-element" id="__bolt-bolt-breadcrumb10-item-described-byCollection"></div>
                        </a>
                      </div>
                      <div class="bolt-breadcrumb-divider secondary-text cursor-default flex-noshrink">/</div>
                    </div>
                    
                    <div class="bolt-breadcrumb-list-item">
                      <div class="bolt-breadcrumb-item">
                        <a aria-describedby="__bolt-bolt-breadcrumb10-item-described-byCollection" class="bolt-link" data-focuszone="focuszone-391" tabindex="-1">
                          <div class="bolt-breadcrumb-item-text-container">
                            <span class="bolt-breadcrumb-item-text text-ellipsis">ipblock-nft</span>
                          </div>
                          <div class="bolt-breadcrumb-hidden-element" id="__bolt-bolt-breadcrumb10-item-described-byCollection"></div>
                        </a>
                      </div>
                      <div class="bolt-breadcrumb-divider secondary-text cursor-default flex-noshrink">/</div>
                    </div>

                    <div class="bolt-breadcrumb-list-item">
                      <div class="bolt-breadcrumb-item">
                        <a aria-describedby="__bolt-bolt-breadcrumb10-item-described-byCollection" class="bolt-link" data-focuszone="focuszone-391" tabindex="-1">
                          <div class="bolt-breadcrumb-item-text-container">
                            <span class="bolt-breadcrumb-item-text text-ellipsis">tutorials</span>
                          </div>
                          <div class="bolt-breadcrumb-hidden-element" id="__bolt-bolt-breadcrumb10-item-described-byCollection"></div>
                        </a>
                      </div>
                      <div class="bolt-breadcrumb-divider bolt-breadcrumb-hidden-element secondary-text cursor-default flex-noshrink">/</div>
                    </div>

                  </div>
                </div>
                    
              </div>

            </div>
          </div>

          <div class="flex-row flex-grow scroll-hidden">
            <div class="navigation-container flex-column">
              <div class="project-navigation region-navigation flex-column flex-grow expanded">

                <!-- side 1st  -->
                <div class="collapsible-section flex-noshrink">
                  <div class="project-item flex-row flex-grow flex-center scroll-hidden">
                    <span class="navigation-icon flex-row flex-center flex-noshrink justify-center">
                      <div class="vss-Persona flex-noshrink project-persona flex-noshrink small" aria-label="ipblock">
                        <img class="vss-Persona-content using-image" 
                          src="https://dev.azure.com/onbuff/_apis/GraphProfile/MemberAvatars/19f4cc99-78ce-44ed-b974-9975f530b8f5?overrideDisplayName=ipblock&amp;size=2" alt="">
                      </div>
                    </span>
                    <span class="font-weight-heavy expanded-only flex-grow text-ellipsis">ipblock-NFT</span>
                  </div>
                </div>
                  <!-- line -->
                  <div class="separator flex-row flex-noshrink"></div>


                <div class="navigation-section flex-column flex-grow scroll-hidden v-scroll-auto custom-scrollbar">
                  <!-- 1st menu -->
                  <div class="hub-group-container flex-column flex-noshrink relative expanded-container displayed-container">
                    <div class="flex-row flex-noshrink bolt-expandable-container flex-row flex-center">
                      <a aria-label="Overview" asp-controller="Tutorials" asp-action="Index"
                        class="hub-group navigation-element navigation-link focus-treatment flex-row flex-grow flex-center scroll-hidden relative bolt-link" tabindex="-1">
                        <span class="navigation-icon flex-row flex-center flex-noshrink justify-center">
                          <img alt="" class="contributed-icon contributed-icon-image bolt-image flex-noshrink" 
                            src="https://cdn.vsassets.io/ext/ms.vss-build-web/common-library/Nav-Launch.3tiJhd8JGiL0mrog.png">
                        </span>
                        <span class="navigation-text expanded-only text-ellipsis flex-grow">Tutorials</span>
                      </a>
                    </div>
                  </div>

                  <!-- 2nd menu -->
                  <div class="hub-group-container flex-column flex-noshrink relative hub-group-only">
                    <div class="flex-row flex-noshrink bolt-expandable-container flex-row flex-center">
                      <a aria-label="Overview" asp-controller="Swagger" asp-action="Index"
                        class="hub-group navigation-element navigation-link focus-treatment flex-row flex-grow flex-center scroll-hidden relative bolt-link" tabindex="-1">
                        <span class="navigation-icon flex-row flex-center flex-noshrink justify-center">
                          <img alt="" class="contributed-icon contributed-icon-image bolt-image flex-noshrink" 
                            src="https://ms.gallerycdn.vsassets.io/extensions/ms/feed/18.186.0.1300478237/1621378091411/common/content/Nav-Feed.png">
                        </span>
                        <span class="navigation-text expanded-only text-ellipsis flex-grow">Swagger</span>
                      </a>
                    </div>
                  </div>

                </div>

                <!-- line --> 
                <div class="separator flex-row flex-noshrink"></div>

                <!-- bottom menu -->
                <div class="collapsible-section flex-noshrink">                
                  <div class="hub flex-row flex-grow flex-center scroll-hidden relative">
                    <span aria-labelledby="__bolt-project-settings-text" role="img">
                      <span class="navigation-icon flex-row flex-center justify-center flex-noshrink"></span>
                    </span>
                    <span class="navigation-text expanded-only text-ellipsis" id="__bolt-project-settings-text"></span>
                  </div>
                  
                  <div onclick="menuChange();"; class="hub stand-alone focus-treatment alt-hover-effect flex-row" data-focuszone="focuszone-16" id="project-expansion-toggle" role="button" tabindex="-1">
                    <span id="navigation-arrows" class="navigation-arrows navigation-icon flex-row flex-center flex-noshrink justify-center cursor-pointer flex-noshrink">
                      <div> << </div>
                    </span>
                  </div>
                </div>

              </div>
            </div>

            <!-- right -->
            <div class="flex-column flex-grow scroll-hidden">

              <!-- contents -->
                <div class="v-scroll-auto flex flex-grow relative region-content">
                    <div class="main">
                        <!-- main > head -->
                        <div class="head">                            
                            <div class="cd-title-bar-breadcrumb-container dtc-bread-crumb-component">
                                <ol class="list-42">
                                    <li class="listItem-43">
                                        <a class="itemLink-50" tabindex="0">
                                            <div>Tutorials</div>
                                        </a>
                                        <i> > </i>
                                    </li>
                                    <li class="listItem-43">
                                        <span class="item-48">
                                            <div>
                                                List
                                            </div>
                                        </span>
                                    </li>
                                </ol>                        
                            </div>                            
                        </div>
                        <!-- //main > head -->

                        <!-- main > body -->
                        <div class="body">
                            <div class="dtc-workflow-pivot pivot-fabric-style-overrides">
                                <div>
                                    <!--sub menu-->
                                    <ul class="root-40 root_4edb0ad9" role="tablist">
                                        <button type="button" onclick="location.href='@Url.Action("Index", "Tutorials")'" class="link_4edb0ad9" tabindex="0">
                                        <div><span>Add</span></div>

                                        <button type="button" onclick="location.href='@Url.Action("List", "Tutorials")'" class="link_4edb0ad9 linkIsSelected_4edb0ad9" tabindex="0">
                                        <div><span>List</span></div>
                                    </ul>
                                    <!--//sub menu-->
                                    <div class="dtc-pivot-item">
                                        <div class="cd-canvas-tab-content">
                                            <div class="overlay-left-section">                                                
                                                <div class="cd-canvas-container">
                                                  <div class="overlay-left-section">
                                                    <table class="type09">
                                                      <thead>
                                                        <tr>
                                                          <th scope="cols">ID</th>
                                                          <th scope="cols">Title</th>
                                                          <th scope="cols">NFT</th>
                                                          <th scope="cols">Description</th>
                                                          <th scope="cols">State</th>
                                                          <th scope="cols">Owner</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody id="items">
                                                      </tbody>
                                                    </table>
                                                    <div class="paging relative" id="paging"></div>
                                                  </div>
                                                </div>            
                                            </div>                                    
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <!-- //main > body -->


                    </div>  
                </div>
              <!-- //contents -->
              
            </div>
            <!-- //right -->
          </div>

      </div>
    </div>
  </div>

<script>

  let page_id = 1;
  let page_size = 10;
  let page_length = 10;
  let total_page_count = 0;

  window.onload=function(){
    getNFT(page_id, page_size);
  }

</script>
