table {
  display: block;
  height: 688px;
  overflow-y: hidden;
}

table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    overflow: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  table.type09::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

  table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
    text-align: center;
  }
  table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
    height: 150px;
  }
  table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .paging {
    height: 45px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: var(--communication-foreground,rgba(0, 90, 158, 1));
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  

  